.custom-grid-style .ag-cell{
    /* color : rgb(51, 51, 51); */
    font-size: 0.7rem;
    color: #334155;
}
.custom-grid-style .ag-header-cell{
    color : rgb(51, 51, 51);
    font-size: 0.8rem;
    font-weight: 650;
    /* color: #E2E8F0; */
}

.custom-grid-style .ag-paging-panel {
    font-size: 12px;
    padding : 0rem 1.5rem
}

.custom-grid-style  .ag-picker-field-wrapper{
    min-height: 25px;
}